@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import "./parallax.css";

body {
    position: relative;
    min-height: 100svh;
    background: #0f0f0f;
}

@theme {
    --font-wind: "WindSong", sans-serif;
}
