@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import "./parallax.css";

body {
    position: relative;
    min-height: 100svh;
    background-image: linear-gradient(180deg, var(--color-blue-300) 0%, var(--color-sky-400) 0%, var(--color-cyan-600) 100%);
}