---
import "../styles/global.css";
import { getCollection, getLiveCollection } from "astro:content";
import ProjectWindow from "../components/ProjectWindow.astro";
const allProjects = await getCollection("project_content")
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lais</title>
	</head>
	<body class="bg-linear-to-r from-blue-300 via-sky-400 to-cyan-600/75">
		<ul>
		{
			allProjects.map((project_content) => (
				<ProjectWindow title={project_content.data.title} url={project_content.data.image.url} content={project_content.data.content}/>
			))
			
		}
		</ul>
	</body>
</html>
